
<div class="input-group" style="min-height: 60px;overflow: scroll">
    <textarea class="form-control border border-white" placeholder="title" aria-label="With textarea" name="title" id="title" value="<%= shorts.title %>"><%= shorts.title %></textarea>

</div>
<div class="input-group" style="min-height: 60px;overflow: scroll">
    <textarea class="form-control border border-white" placeholder="description" aria-label="With textarea" name="description" id="description"><%= shorts.description %></textarea>
</div>
<a href="/shorts">
    <button type="button" class="btn btn-outline-dark">cancel</button>
</a>
<button type="submit" class="btn btn-outline-dark">Save</button>
