<style>
  footer{
    width: 100%;
    position: fixed;
    bottom: 0;
  }
</style>
<footer>
  <div class="bg-light py-4" style="bottom: 0">
    <div class="container text-center">
      <p class="text-muted mb-0 py-2">© 2019 Bootstrapious All rights reserved.</p>
    </div>
  </div>
</footer>