<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New blog</title>
</head>
<body style="background-color:#edf6f9">
  <%- include('../_navbar') %>
  <h2 style="padding: 0rem 0rem 0rem 2rem;color: #524c4c;">New article</h2>
  <div class="container">
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-8 bg-white"  style="padding: 10px 20px; border-radius: 2rem;">
            <form action='/articles' method="POST" class="p-3">
                <%- include('_formFields') %>
            </form>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
  </div>
</body>
</html>